.container {
  width: 1440px;
  height: 696px;
  background-image: url("/Picture.png");
}

.context {
  display: flex;
  flex-direction: column;
  padding-top: 260px;
  padding-left: 64px;
}

.h1 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: rgba(247, 247, 247, 1);
  margin-bottom: 16px;
}

.h2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: rgba(247, 247, 247, 1);
  margin-bottom: 40px;
}

.button {
  width: 173px;
  height: 56px;
  border-radius: 200px 200px 200px 200px;
  background: rgba(228, 72, 72, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgba(247, 247, 247, 1);
}
